body{
  padding: 0 20px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  /* margin: 0 50px; */
}

.mb-2{
  margin-bottom: 15px;
}

th,
td {
  padding: 5px;
  text-align: left;
}
.header{
  text-align: center;
}

.header-mini{
  border-bottom: 1px solid gray;
  width: max-content;
  margin: auto;
  margin-bottom: 5px;
}